<ion-view view-title="Monopoly">
<ion-content class="gameBoard">
    <div class="board">
        <div ng-repeat="(key, square) in squares" class="square square-{{key}}" style="{{getStyle(key, square)}}" ng-click="setSelectedSquare(square)">
            <div class="userColourContainer">
                <div ng-repeat="userColour in square.userColours" class="usersColour" style="background-color: {{userColour}}">

                </div>
            </div>

        </div>
        {{showYourturn}}
    </div>
    <div class="info">
        Je hebt nog {{money}} gouden munten <br><br>
        {{game.turn.user.displayName}} is nu aan de beurt <br><br>
        {{selectedSquare}}
    </div>
    <div class="card yourTurn" ng-show="showYourturn">
        <div class="title">
            Jij bent!
        </div>
        <div class="turnAmount">
            Je hebt {{turnAmount}} gegooid
        </div>
        <div class="goTo">
            Ga nu naar {{currentSquare.name}}
        </div>

        <div class="check" ng-click="goToNavigation()">
            <img ng-src="{{checkSrc}}" alt="">
        </div>
    </div>
    <div class="card buy" ng-show="showBuy">
        <div class="image">
            <!--<div class='sprite {{currentSquare.picture}}'></div>-->
            <img ng-src="{{currentSquare.picture}}" alt="">
        </div>
        <div class="name"  on-swipe-left="buySquare()" on-swipe-right="declineSquare()">
            Wil je {{currentSquare.name}} kopen voor {{currentSquare.price}} gouden munten?
        </div>
        <div class="buttons">
            <img ng-src="{{checkSrc}}" alt="" ng-click="buySquare()" class="check">
            <img ng-src="{{declineSrc}}" alt="" ng-click="declineSquare()" class="decline">
        </div>

    </div>
    <div class="card payday" ng-show="showPayday">
        <div class="image">
            <!--<div class='sprite {{currentSquare.picture}}'></div>-->
            <img ng-src="{{currentSquare.picture}}" alt="">
        </div>
        <div class="text">
            Je bent op het vakje van {{currentSquare.owner.displayName}} gekomen, {{currentSquare.name}}. Je moet {{currentSquare.rent}} gouden munten betalen.
        </div>
        <div class="buttons">
            <img ng-src="{{checkSrc}}" alt="" class="check" ng-click="pay()">
        </div>
    </div>
    <div class="card navigation" ng-show="showNavigation">
        <div class="title">
            Ga naar {{currentSquare.name}}
        </div>
        <div class="maps" id="map">

        </div>
        <div class="check" ng-click="arrived()">
            <img ng-src="{{checkSrc}}" alt="">
        </div>
    </div>
    <div class="card confirmation" ng-show="showSelfBuy">
        <div class="image">
            <!--<div class='sprite {{currentSquare.picture}}'></div>-->
            <img ng-src="{{currentSquare.picture}}" alt="">
        </div>
        <div class="title">
            Je bent op {{currentSquare.name}} gekomen, dit vakje is al van jouw, je hoeft niks te betalen.
        </div>
        <div class="check">
            <img ng-src="{{checkSrc}}" alt="" ng-click="acceptNoPay()">
        </div>
    </div>

  </ion-content>
</ion-view>
