<ion-view view-title="Monopoly">
    <ion-content>
        <div class="login">
            <div class="title">
                <h1>Inloggen</h1>
            </div>
            <div class="email">
                <input type="text" ng-model="username" placeholder="gebruikersnaam" ng-change="hallo = true">
            </div>
            <div class="password">
                <input type="password" ng-model="password"  placeholder="wachtwoord"  ng-change="savePassword(password)">
            </div>
            <!--<button ng-click="login(username, password)">Local login</button>-->
            <div class="loginButton">
                <img src="img/login.png" alt="" style="{{getLoginStyle()}}">
                <div ng-click="signup(username, password)"   style="{{getSignupButtonStyle()}}"></div>
                <div class="loginBtn" ng-click="login(username, password)"  style="{{getLoginButtonStyle()}}"></div>
            </div>
            <div ng-show="hallo">hallo</div>

        </div>
    </ion-content>
</ion-view>
