<ion-view view-title="Settings">
<ion-content>
    <div class="settings">
        <div class="title">
            Instellingen
        </div>
        <div class="content">
            <label for="shake">Trillen</label> <input type="checkbox" ng-model="shake" id="shake" ng-change="saveShake(shake)">
        </div>
        <div class="manual">
            Originele monopoly: <br>
            <a href="#" onclick="window.open('http://www.hasbro.com/en-us/brands/monopoly', '_system');">http://www.hasbro.com/en-us/brands/monopoly</a>
        </div>
    </div>
  </ion-content>
</ion-view>
