<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.mijnmeter573414" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Monopoly</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="you@example.com" href="http://example.com.com/">
      Hydraweb
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <allow-navigation href="*" />
    <allow-navigation href="file://*/*" />
    <allow-navigation href="http://*/*" />

    <platform name="android">
        <icon density="hdpi" src="resources/android/icon/icon.png" />
        <splash density="port-hdpi" src="resources/android/splash/splash.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="https://github.com/apache/cordova-plugin-whitelist.git" />
    <plugin name="cordova-plugin-device-motion" value="org.apache.cordova.AccelListener" spec="https://github.com/apache/cordova-plugin-device-motion.git"/>
    <plugin name="cordova-plugin-vibration" spec="https://github.com/apache/cordova-plugin-vibration.git"/>
    <feature name="Accelerometer">
        <param name="android-package" value="org.apache.cordova.devicemotion.AccelListener" />
    </feature>
    <feature name="Accelerometer">
        <param name="ios-package" value="CDVAccelerometer" />
    </feature>
    <access origin="*" />
</widget>
